body{
    background-color: #ffdac4;
}
.navbar{/*modifichiamo lo stile della navbar*/
    text-align: center;
}
.navbar a{/*modifichiamo lo stile degli elementi della navbar*/
    text-align: center;
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
    color: #8ea4ff;
}
.navbar a:hover{/*impostiamo lo stile di quado passo col mouse su un elemento*/
    background-color: snow;
    color: black;
}
.navbar a.active{/*impostiamo uno stile per una pagina attiva cioè dove stoo io al momento*/
    color: black ;

}
.titolo{
   text-align: center;
   font-size: xxx-large;/*imposta una grandezza del font*/
    font-palette: light;
    font-family: cursive;
    color: orange;
    background: linear-gradient(to right, gold 30%, darkblue 70%, black 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
   -webkit-text-stroke: 3px black;/*imposta un bordo del testo*/
}
.descrizione{
    text-align: center;
    font-family: cursive;
    font-palette: dark;
}



