body{
    background-color: lightgrey;
}
.titolo {
    text-align: center;
    font-size: xx-large; /*imposta una grandezza del font*/
    /*font-palette: light;*/
    font-family: cursive;
    background: linear-gradient(to right,red 30%,#39ff14 50%,blue 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-text-stroke: 3px black; /*imposta un bordo del testo*/
}
