body{
    background-color: #ffad4f;
}
.titolo {
    text-align: center;
    font-size: xx-large; /*imposta una grandezza del font*/
    font-family: cursive;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-text-stroke: 3px black; /*imposta un bordo del testo*/
}
#titolo{
    background: red;
    margin-left: 600px;
    right: 500px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 5px  5px 1px black;

}
.text-area input{
    text-align: center;
    font-family: cursive;
    font-size: small;
    border-radius: 8px;
    margin-left: 550px;
    float: left;
    display: block;
    border-color: lightgrey;
    cursor: text;
    box-shadow: 5px  5px 1px black;

}
.invio input{
    text-align: center;
    font-family: cursive;
    font-size: small;
    border-radius: 8px;
    float: left;
    display: block;
    margin-left: 970px;
    margin-top: -22px;
    border-color: lightgrey;
    cursor: pointer;
    box-shadow: 5px  5px 1px black;
}
.image{
    display: flex;
    margin-left: 525px;
    margin-right: 525px;
    cursor: pointer;
}
.col{
    flex: 1;
    padding: 1em;
}
.form-container{
    text-align: center;
    font-family: cursive;
    font-size: small;
    font-weight: bold;
    max-width: 300px;
    padding: 10px;
    background-color: snow;
    border-radius: 130px;
    box-shadow: 5px  5px 1px black;
}
.lente_suggerimenti{
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: -20px;
    margin-top: -20px;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 390px;
    right: 150px;
    z-index: 9;
}
.suggerimenti{
    position: absolute;
    margin-left: 1410px;
    bottom: 430px;
    height: 50px;
    width: 50px;
}
.cancel{
    background-color: red;
    text-align: center;
    font-family: cursive;
    font-size: small;
    border-radius: 8px;
    position: absolute;
    margin-left: -20px;
    bottom: -35px;
    box-shadow: 5px  5px 1px black;
}
.home_popup{
    display: none;
    position: fixed;
    bottom: 450px;
    right: 200px;
    z-index: 9;
}
.home_container{
    text-align: center;
    font-family: cursive;
    font-size: small;
    font-weight: bold;
    max-width: 300px;
    padding: 10px;
    background-color: snow;
    border-radius: 130px;
    box-shadow: 5px  5px 1px black;
}
.image_warning_home{
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: -80px;
    margin-top: 10px;
}
.Home{
    position: absolute;
    margin-left: 1410px;
    bottom: 510px;
    height: 50px;
    width: 50px;
    -webkit-transform: rotate(180deg);
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
.ok_button{
    font-family: cursive;
    font-size: small;
    font-weight: bold;
    border-radius: 8px;
    background-color: #04AA6D;
    cursor: pointer;
}
.cancel_button{
    font-family: cursive;
    font-size: small;
    font-weight: bold;
    border-radius: 8px;
    background-color: red;
    cursor: pointer;
}
.ricomincia_popup{
    display: none;
    position: fixed;
    bottom: 270px;
    right: 200px;
    z-index: 9;
}
.ricomincia_container{
    text-align: center;
    font-family: cursive;
    font-size: small;
    font-weight: bold;
    max-width: 300px;
    padding: 10px;
    background-color: snow;
    border-radius: 130px;
    box-shadow: 5px  5px 1px black;
}
.image_warning_ricomincia{
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: -80px;
    margin-top: 10px;
}
.ricomincia{
    position: absolute;
    margin-left: 1400px;
    bottom: 330px;
    height: 80px;
    width: 80px;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}
.ok_button_ricomincia{
    font-family: cursive;
    font-size: small;
    font-weight: bold;
    border-radius: 8px;
    background-color: #04AA6D;
    cursor: pointer;
}
.cancel_button_ricomincia{
    font-family: cursive;
    font-size: small;
    font-weight: bold;
    border-radius: 8px;
    background-color: red;
    cursor: pointer;
}
