<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <!--INIZIO BOOTSTRAP CSS!-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--FINE BOOTSTRAP CSS-->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/imagini/image/web-icon.png" type="image/png"/>
    <title>Guess The Word</title>
</head>
<body>
<script src="../static/javascript/Nomeutente.js">
</script>
<!--NAVBAR !-->
<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/About" class="nav-link">About</a></li>
        </ul>
    </header>
</div>

<!--TITOLO!-->
<p class="text-lg">Guess The Word</p><!--TEXT LEG PERMETTE DI INSERIRE UN TESTO GRANDE!-->
<!--DESCRIZIONE!-->
<div id="center" class="descrizione">
    <p><br><br>Il gioco consiste nell’ indovinare quante più parole possibili.
        Ogni livello sarà<br> sempre più
        difficile e metterà a dura prova le tue capacità. <br>
        Cosa aspetti giochiamo...
    </p>
</div>
<!--PULSANTE START!-->
<div class="start">
    <p>
        <button type="button"  class="btn btn-primary" onclick="openUsernamePopup()">Start</button>
    </p>
</div>
<!--INSERIMENTO USERNAME!-->
<div class="username_popup" id="myusernamepopup">
    <form class="username_container" method="POST">
        <img class="username_image" src="../static/imagini/image/username.png">
        <h3>Username</h3>
        <h3>Inserisci il tuo username:</h3>
        <input id="username" type="text" size="10" maxlength="10">
        <a href="/Livello1">
            <button type="button" class="btn btn-secondary" id="okusername" onclick="pressOkUsername()">Ok</button>
        </a>
        <button type="button" class="btn btn-secondary" id="cancelusername" onclick="closeUsernamePopup()">Cancel
        </button>
    </form>
</div>
<!--INSERIMENTO POP UP INSERIRE UN USERNAME VALIDO!-->
<div class="username_error_popup" id="myusernameerrorpopup">
    <form class="username_error_container">
        <img class="username_error_image" src="../static/imagini/image/warning.png">
        <h3>Attenzione</h3>
        <h3>Si prega di inserire un username valido</h3>
        <button type="button" class="btn btn-secondary" id="okusernameerror" onclick="closeUsernameErrorPopup()">Ok
        </button>
    </form>
</div>
<!--JAVASCRIPT BOOTSTRAP!-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<!--FINE JAVASCRIPT BOOTSTRAP!-->
</body>
</html>



